<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Phonebook</title>
    <link href="http://localnode.local.mesh/bootstrap.min.css" rel="stylesheet">
	</head>

  <body>

    {{ range .Updates }}
      {{ if eq .Type "info" }}
        <div class="alert alert-info" role="alert">
      {{ else if eq .Type "warn" }}
        <div class="alert alert-warning" role="alert">
      {{ else if eq .Type "danger" }}
        <div class="alert alert-danger" role="alert">
      {{ else if eq .Type "success" }}
        <div class="alert alert-success" role="alert">
      {{ else }}
        <div class="alert alert-secondary" role="alert">
      {{ end }}
        {{ .Message }}
      </div>
    {{ end }}

		<div class="container">
      <div class="row">
        <div class="col">
          <h1><a href="/" class="link-underline link-underline-opacity-10">Phonebook</a></h1>
        </div>
      </div>
      <div class="alert alert-secondary">
        <div class="row">
          <div class="col">
            Version: {{ .Version.Version }}
          </div>
          <div class="col">
            Last phonebook update: {{ .Updated }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Commit hash:
            {{ if eq .Version.CommitSHA "-" }}
              not comitted/pushed yet (dev version)
            {{ else }}
              "<a href="https://github.com/arednch/phonebook/tree/{{ .Version.CommitSHA }}">{{ .Version.CommitSHA }}</a>"
            {{ end }}
          </div>
        </div>
      </div>

      <div class="alert alert-info">
        <div class="row">
          <div class="col">
            <h2>User functionality</h2>
          </div>
        </div>

        <div class="alert alert-secondary">
          <div class="row">
            <div class="col">
              <h3>Locally registered phones</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul class="list-group">
                {{ range $phone, $ua := .Registered }}
                  <li class="list-group-item">{{ $phone }} ({{ $ua }})</li>
                {{ else }}
                  -
                {{ end }}
              </ul>
            </div>
          </div>
        </div>

        <div class="alert alert-secondary">
          <div class="row">
            <div class="col">
              <h3>Show phonebook entries</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <form action="/phonebook">

                <div class="row">
                  <div class="col">
                    Format:
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <select class="form-control" type="text" id="format" name="format" value="combined" placeholder="Format (e.g. direct, pbx, combined)">
                        <option selected>combined</option>
                        <option>direct</option>
                        <option>pbx</option>
                      </select>
                      <label class="form-label" for="format">Format (e.g. direct, pbx, combined)</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    Target:
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <select class="form-control" type="text" id="target" name="target" value="generic" placeholder="Target (e.g. generic, yaesu, grandstream, vcard)">
                        {{ range .Exporters }}
                          <option {{ if eq . "generic" }}selected{{ end }}>{{ . }}</option>
                        {{ end }}
                      </select>
                      <label class="form-label" for="target">Target (e.g. generic, yaesu, grandstream, vcard)</label>
                    </div>
                  </div>
                </div>

                <p>Optional</p>

                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <input class="form-check-input" type="checkbox" id="indicateActive" name="ia" value="true">
                      <label class="form-check-label" for="indicateActive">Indicate active phones</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <input class="form-check-input" type="checkbox" id="resolve" name="resolve" value="true">
                      <label class="form-check-label" for="resolve">Resolve hostnames to IPs</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <input class="form-check-input" type="checkbox" id="filterInactive" name="fi" value="true">
                      <label class="form-check-label" for="filterInactive">Filter inactive phones</label>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input class="btn btn-primary" type="submit" value="Show phonebook">
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="alert alert-secondary">
          <div class="row">
            <div class="col">
              <h3>Send message</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <form action="/message" method="POST">

                <datalist id="messageContacts" name="to" placeholder="Contact / Phone number to send the message to">
                  {{ range $name, $phone := .Records }}
                    <option value="{{ $phone }}">{{ $name }}</option>
                  {{ end }}
                </datalist>

                <div class="row">
                  <div class="col">
                    From (phone number):
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <input list="messageContacts" id="messageFrom" name="from" class="form-control" />
                      <label class="form-label" for="messageFrom">Contact / Phone number to send the message from</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    To (contact / phone number):
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <input list="messageContacts" id="messageTo" name="to" class="form-control" />
                      <label class="form-label" for="messageTo">Contact / Phone number to send the message to</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    Message:
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <input class="form-control" type="text" id="messageMsg" name="msg" value="" placeholder="Message to send">
                      <label class="form-label" for="messageMsg">Message to send</label>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input class="btn btn-primary" type="submit" value="Send message">
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="alert alert-danger">
        <div class="row">
          <div class="col">
            <h2>Admin / Configuration options</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Use at your own risk!</b>
          </div>
        </div>

        <div class="alert alert-info">
          <div class="row">
            <div class="col">
              <h3><a href="/reload">Force reload data from source</a></h3>
            </div>
          </div>
        </div>

        <div class="alert alert-info">
          <div class="row">
            <div class="col">
              <h3>Show configuration</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <form action="/showconfig" method="POST">

                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="configTypeRuntime" name="type" value="runtime" checked>
                  <label class="form-check-label" for="configTypeRuntime">Runtime</label>
                </div>
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="configTypeDisk" name="type" value="disk">
                  <label class="form-check-label" for="configTypeDisk">Disk</label>
                </div>
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="configTypeDiff" name="type" value="diff">
                  <label class="form-check-label" for="configTypeDiff">Diff between disk and runtime</label>
                </div>

                <div class="mb-3">
                  <input class="btn btn-primary" type="submit" value="Show configuration">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="alert alert-warning">
          <div class="row">
            <div class="col">
              <h3>Update configuration</h3><br>
              <b>All settings below are optional.</b>
            </div>
          </div>

          <form action="/updateconfig" method="POST">

            <div class="row">
              <div class="col">
                Time between reloads from source in seconds
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input class="form-control" type="text" id="changeReload" name="reload" value="" placeholder="Time between reloads from source in seconds">
                  <label class="form-label" for="changeReload">Time between reloads from source in seconds</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                Sources (one per line) to load phonebook from
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="changeSources" name="sources" value="" placeholder="Sources (one per line) to load phonebook from" style="height: 150px">{{ .Sources }}</textarea>
                  <label class="form-label" for="changeSources">Sources (one per line) to load phonebook from</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                URLs to read information/updates (one per line) from
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="changeUpdates" name="sources" value="" placeholder="URLs to read information/updates (one per line) from" style="height: 150px">{{ .UpdateURLs }}</textarea>
                  <label class="form-label" for="changeUpdates">URLs to read information/updates (one per line) from</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                Include routable phones in phonebook.
              </div>
              <div class="col">
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="changeRoutableTrue" name="routable" value="true">
                  <label class="form-check-label" for="changeRoutableTrue">true</label>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="changeRoutableFalse" name="routable" value="false">
                  <label class="form-check-label" for="changeRoutableFalse">false</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                Enable debug output (on stdout / logread)
              </div>
              <div class="col">
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="changeDebugTrue" name="debug" value="true">
                  <label class="form-check-label" for="changeDebugTrue">true</label>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="changeDebugFalse" name="debug" value="false">
                  <label class="form-check-label" for="changeDebugFalse">false</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                Make changes permanent (write to disk)
              </div>
              <div class="col">
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="changePermTrue" name="perm" value="true">
                  <label class="form-check-label" for="changePermTrue">true</label>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="changePermFalse" name="perm" value="false">
                  <label class="form-check-label" for="changePermFalse">false</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <input class="btn btn-primary" type="submit" value="Update configuration">
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>

  </body>
</html>