{{ template "header.html" . }}
      {{ if .Success }}
        <div class="alert alert-success">
          <div class="row">
            <div class="col">
              Message sent (reception unconfirmed):
            </div>
          </div>
          <div class="row">
            <div class="col">
              From:
            </div>
            <div class="col">
              {{ .From }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              To:
            </div>
            <div class="col">
              {{ .To }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              Message:
            </div>
            <div class="col">
              {{ .Message }}
            </div>
          </div>
        </div>
      {{ else }}
        <div class="alert alert-danger">
          <div class="row">
            <div class="col">
              {{ .Message }}
            </div>
          </div>
        </div>
      {{ end }}
{{ template "footer.html" . }}