<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Phonebook: Reload</title>
    <link href="http://localnode.local.mesh/bootstrap.min.css" rel="stylesheet">
	</head>

  <body>

		<div class="container">
      <div class="row">
        <div class="col">
          <h1><a href="/" class="link-underline link-underline-opacity-10">Reload</a></h1>
        </div>
      </div>
      <div class="alert alert-secondary">
        <div class="row">
          <div class="col">
            Version: {{ .Version }}
          </div>
          <div class="col">
            Last phonebook update: {{ .Updated }}
          </div>
        </div>
      </div>

      {{ if .Success }}
        <div class="alert alert-success">
          <div class="row">
            <div class="col">
              Phonebook reloaded from {{ .Source }}
            </div>
          </div>
        </div>
      {{ else }}
        <div class="alert alert-danger">
          <div class="row">
            <div class="col">
              Unable to reload phonebook from {{ .Source }}
            </div>
          </div>
        </div>
      {{ end }}

  </body>
</html>