{{ template "header.html" . }}
      {{ if .Success }}
        <div class="alert alert-success">
          <div class="row">
            <div class="col">
              Phonebook reloaded from {{ .Source }}
            </div>
          </div>
        </div>
      {{ else }}
        <div class="alert alert-danger">
          <div class="row">
            <div class="col">
              Unable to reload phonebook from {{ .Source }}
            </div>
          </div>
        </div>
      {{ end }}
{{ template "footer.html" . }}