<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Phonebook: Show Config</title>
    <link href="http://localnode.local.mesh/bootstrap.min.css" rel="stylesheet">
	</head>

  <body>

		<div class="container">
      <div class="row">
        <div class="col">
          <h1><a href="/" class="link-underline link-underline-opacity-10">Phonebook: Show Config</a></h1>
        </div>
      </div>
      <div class="alert alert-secondary">
        <div class="row">
          <div class="col">
            Version: {{ .Version }}
          </div>
        </div>
      </div>

      {{ if .Success }}
        <div class="alert alert-success">
      {{ else }}
        <div class="alert alert-danger">
          <div class="row">
            <div class="col">
              Unable to show config
            </div>
          </div>
      {{ end }}

      {{ range .Messages }}
        <div class="row">
          <div class="col">
            {{ . }}
          </div>
        </div>
      {{ end }}

      {{ if .Content }}
        <div class="row">
          <div class="col">
            <pre><code>{{ .Content }}</code></pre>
          </div>
        </div>
      {{ end }}
    </div>

    {{ if .Diff }}
      <div class="row">
        <div class="col">
          Legend:<br>
           - items in runtime config but not on disk<br>
          + items in disk config but not runtime<br>
        </div>
      </div>
    {{ end }}

  </body>
</html>