{{ template "header.html" . }}
      {{ if .Success }}
        <div class="alert alert-success">
      {{ else }}
        <div class="alert alert-danger">
          <div class="row">
            <div class="col">
              Unable to show config
            </div>
          </div>
      {{ end }}

      {{ range .Messages }}
        <div class="row">
          <div class="col">
            {{ . }}
          </div>
        </div>
      {{ end }}

      {{ if .Content }}
        <div class="row">
          <div class="col">
            <pre><code>{{ .Content }}</code></pre>
          </div>
        </div>
      {{ end }}
    </div>

    {{ if .Diff }}
      <div class="row">
        <div class="col">
          Legend:<br>
           - items in runtime config but not on disk<br>
          + items in disk config but not runtime<br>
        </div>
      </div>
    {{ end }}
{{ template "footer.html" . }}